<section class="hero-auth">

  <div class="auth-card glass-card">

    <div id="candidate-login-component"></div>

    <div id="candidate-signup-component"></div>

    <div id="admin-login-component"></div>

    <div id="admin-signup-component"></div>

  </div>

</section>

<script>
loadComponent(
  "candidate-login-component",
  "components/candidate-login.html"
);

loadComponent(
  "candidate-signup-component",
  "components/candidate-signup.html"
);

loadComponent(
  "admin-login-component",
  "components/admin-login.html"
);

loadComponent(
  "admin-signup-component",
  "components/admin-signup.html"
);
</script>